
$title: #363838;
$default: #5a5a5a;

//title

%title-font{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

// @media (max-width: 540px){
//     %title-font{
//         font-size: 28;
//         line-height: 36px;
//     }
// }
